@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        @Html.ActionLink("Recipes", "Index", "Recipe", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Ingredients", "Index", "Ingredient", null, new { @class = "btn btn-primary" })
    </div>
</div>