@model Recipes.Models.RecipeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RecipeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-select">
                    <option value="Ontbijt">Ontbijt</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Diner">Diner</option>
                    <option value="Snack">Snack</option>
                    <option value="Dranken">Dranken</option>
                    <option value="Desert">Desert</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Bereidingswijze</label>
                <div id="steps">
                    <div class="step" asp-for="Steps">
                        <label asp-for="Steps">Stap 1</label>
                        <textarea asp-for="Steps" name="Steps[0].Description" class="form-control" rows="3"></textarea>
                        <input asp-for="Steps" type="hidden" name="Steps[0].Order" value="1" />
                    </div>
                </div>
                <button type="button" id="addStep" class="btn btn-primary btn-sm mt-2">Stap toevoegen</button>
            </div>
            <div class="form-group">
                <label>Ingrediënten</label>
                <div id="ingredients">
                    <div asp-for="Ingredients" class="ingredient input-group">
                        <select asp-for="Ingredients[0].IngredientId" class="form-select form-select-sm">
                            @foreach (var ingredient in ViewBag.Ingredients)
                            {
                                <option value="@ingredient.Id">@ingredient.Title</option>
                            }
                        </select>
                        <input asp-for="Ingredients[0].Quantity" type="number" class="form-control">
                        <select asp-for="Ingredients[0].Unit" class="form-select form-select-sm">
                            <option value="Gram">Gram</option>
                            <option value="Milliliter">Milliliter</option>
                            <option value="Stuks">Stuks</option>
                            <option value="Theelepel">Theelepel</option>
                            <option value="Eetlepel">Eetlepel</option>
                        </select>
                    </div>
                </div>
                <button type="button" id="addIngredient" class="btn btn-primary btn-sm mt-2">Ingredient toevoegen</button>
            </div>

            <div class="form-group mt-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <input type="submit" value="Create" class="btn btn-success btn-sm" />
                    <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var ingredients = @Html.Raw(Json.Serialize(ViewBag.Ingredients));
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
